

@media only screen and (min-width: 320px) {

    /* stijlregels voor browserschermen > 320px en < 720px */
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: dodgerblue;
        background-color: white;
    }


    .mobile-container {
        /*max-width: 480px;*/
        margin: auto;
        background-image: url(https://source.unsplash.com/1600x900);
        height: 550px;
        color: white;
        border-radius: 10px;
    }


    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 16px 16px; 
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .active {
        background-color: #4CAF50;
        color: white;
    }

    .photo_box {
        width: 90%;
        margin-top: 20px;
        margin: 0 auto;
        background-color: #dddddd;
    }
    .photo {
        width: 100%;
        margin: 0 auto;
    }
    .w3-container {
        width: 95%;
        margin: 0 auto;
        background-color: white;
        /*border: 1px solid black;*/
    }
    .p_tekst {
        border-bottom: 2px solid black;
    }
    .w3-container p {
        background-color: white;
        font-size: 20px;
    }
    .w3-container h2 {
        display: flex;
        justify-items: center;
        justify-content: center;
    }
    .w3-card-4 {
        background-color: white;
        border: 10px solid black;
        border-radius: 30px;
        z-index: 1;
    }
    .grid {
        display: grid;
        background-color: white;
        color: white;
    }
}

@media only screen and (min-width: 720px) {

    /* stijlregels voor browserschermen > 720px en < 1024px */
    body {
        background-color: yellow;
    }
    .mobile-container {
        /*max-width: 480px;*/
        margin: auto;
        background-image: url(https://source.unsplash.com/1600x900);
        height: 500px;
        color: white;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .photo_box {
        width: 100%;
        margin: 0 auto;

    }
    .photo {
        width: 100%;
        margin: 0 auto;
    }


}


@media only screen and (min-width:1024px) {

    /* stijlregels voor browserschermen ≥ 1024px */
    body {
        background-color: white;
        color: white;
    }
    .container_container {
        background-color: white;
        display: flex;
    }
    .w3-container {
        background-color: white;
        color: black;
    }
    .photo {
        width: 100%;
    }
    .mobile-container {
        /*max-width: 480px;*/
        margin: auto;
        background-image: url(https://source.unsplash.com/1600x900);
        height: 640px;
        color: white;
        border-radius: 10px;
    }
    .tekst {

    }

    .topnav {
        overflow: hidden;
        background-color: #333333;
        position: relative;

        width: 100%;
    }
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        justify-content: center;
        font-size: 17px;
        justify-items: center;
        background-color: gray;
        /* display: block; */
        display: grid;

    }
    #myLinks {
        display: grid;
        background-color: green;
        width: 80%;
        margin: 0 auto;
        grid-template-columns: auto auto ;
        border: black 10px solid;
        border-radius: 5px;
    }

    h2 {
        color: #111111;
    }
    .columns {
        /*float: left;*/
        width: 90%;
        padding: 8px;
        margin: 0 auto;
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
    }

    .price {
        list-style-type: none;
        border: 1px solid #eee;
        margin: 0;
        padding: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .price:hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
    }

    .price .header {
        background-color: #111;
        color: white;
        font-size: 25px;
    }

    .price li {
        border-bottom: 1px solid #eee;
        padding: 20px;
        color: black;
        text-align: center;
    }

    .price .grey {
        background-color: #eee;
        font-size: 20px;
    }

    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
    }
    .container_prijzen {
        background-color: gainsboro;
        width: 80%;
        display: grid;
        grid-template-columns: auto auto;
        margin: 0 auto;
    }

}



.div_om_active {
    margin: 0 auto;
    width: 40%;
    /*background-color: gray;*/
}

#active {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    font-size: 15px;
    color: white;
    background-color: gray;
    border: gray 2px solid;
    border-radius: 50px;
    /* padding: 0px; */
}


.fa-user {
    background-color: #4CAF50;
    display: block;
    position: absolute;
    color: red;


}

